
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {background-color: rgb(22, 22, 22);}

.cabecalho{
   background-color: rgb(46, 46, 46);
   border-bottom: solid rgb(164, 71, 254) 0.5px;
}
.cabecalho nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-Logo {
    margin-left: 55px;
    display: flex;
    cursor: pointer;
}

.box-Nav {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 90px;
}
.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor:pointer
}
.link:hover {
    color:blueviolet;
}
.login {
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-right: 90px;
}
.login:hover {
    color: blueviolet;
    cursor: pointer;
}

.box-Logoimg {
    height: 60px;
}
.redes {
    height: 29px;
    cursor: pointer;
}

.Twitter {
    height: 29px;
}
.box-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    gap: 30px;
    

}
.box-1-img {
    height: auto;
    width: 330px;
}
.box-1-titulo {

    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.Ordem {
    color: blueviolet;
}

.box-1-botao {

    height: 50px;
    width: 95px;
    border: none;
    background-color: #8a2be2;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.box-1-botao:hover{ 
   background-color: #dcbcfa ;
   color: #8a2be2;
}

.box-2-titulo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    font-family: 'Poppins', sans-serif;
    font-weight: 1;
}
.box-2-titulo {

    color: white;
    margin-top: 30px;
    font-size: 23px;
    border-top: solid rgb(44, 44, 44, .5) 0.1px ;
    padding-top: 30px;
}
.box-2-paragrafo {

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(153, 153, 153);
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.box-2-paragrafo-1:hover  {
    color:blueviolet;
    
}

.box-2-paragrafo-2:hover {
    color: blueviolet
}
.box-2-paragrafo-3:hover {
    color: blueviolet;
}

.rodape {
    margin-top: 30px;
    text-align: center;
    font-size: 11px;
    color:white;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}